################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MyFirstWebApi/bin
/MyFirstWebApi/obj
/MyFirstWebApi/Properties
/TextFile1.txt
/MyFirstWebApi/jenkinsfile.txt
